/* Dropdown.module.css */

.relative {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  top: 40px;
  width: 250px;
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  z-index: 10;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0s 0.3s;
}

.relative:hover > .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.dropdownList {
  font-size: 16px;
  color: #333;
}

.dropdownItem {
  padding: 8px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.subMenu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px;
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  z-index: 9;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0s 0.3s;
}

.dropdownItem:hover .subMenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
