/* NavBar.module.css */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.logo img {
  height: 40px;
}

.searchInput {
  position: relative;
}

.searchInput input {
  padding-left: 2.5rem; /* Space for the icon */
  padding-right: 1rem;
  height: 36px;
  border-radius: 9999px;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 200px;
}

.searchInput svg {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}
